{% extends "website/base.html" %}

{% block titleblock %}Home{% endblock %}

{% block header_ext %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card text-center">
            <div class="card-body">

                <h1>Welcome to Empire</h1>
                
                <p>The Empire of Valon has existed for six hundred years. The imperial house exerts only loose control over its major vassals and
                    the empire much resembles a broad confederation or alliance. Nonetheless, for most, that has meant six centuries of relative
                    peace after the cataclysmic Third Greytide. The empire's neighbours have rarely been able to challenge it openly. Some worry
                    that times are changing.
                </p>
                <p>
                    The city of Sanctuary is the capital of the empire and home to the imperial court, a term encapsulating any noble who happens
                    to be in the city, and any commoner able to move in noble circles. Sanctuary is the social heart of the empire, the place where
                    alliances are formed and plans made, where even the most restless of adventurers go to find companions and to plan their next steps.
                </p>

                {% if webclient_enabled %}

                <p><a href="{% url 'webclient:index' %}" class="playbutton">Play in the browser!</a></p>

                {% endif %}
                {% if telnet_enabled %}
                <p>
                    Telnet: <strong>{{ server_hostname }}</strong>, port
                    {% for port in telnet_ports %}
                    {% if not forloop.first and forloop.last %} or
                    {% elif forloop.counter != 1 %},
                    {% endif %}
                    <strong>{{ port }}</strong>
                    {% endfor %}
                </p>
                {% endif %}
                <p>
                    Empire is a multiplayer text-based roleplaying game. In it, you portray a character from the empire. The day-to-day of the game
                    is focused on the city of Sanctuary, but you can take actions and participate in events which reach far beyond it.
                </p>
                <p>
                    For additional information about the game and its setting, see the <a href="https://empiremush.org/world/">world information</a> pages.
                </p>
                <p>
                    Empire uses a character roster system. This means that all characters are already written and you can choose one to play.
                    You can find a complete list on the <a href="https://empiremush.org/characters/">characters</a> page.
                </p>
                <p>
                    Before applying for a character, please read the <a href="https://empiremush.org/world/game-rules/">rules.</a>
                </p>

            </div>
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-12 col-md-4 mb-3">

        {% include "website/homepage/accounts-widget.html" %}

    </div>

    <div class="col-12 col-md-4 mb-3">

        {% include "website/homepage/recently-connected-widget.html" %}

    </div>

    <div class="col-12 col-md-4 mb-3">

        {% include "website/homepage/database-stats-widget.html" %}

    </div>
</div>

<div class="row">
    <div class="col">

        {% include "website/homepage/evennia-widget.html" %}

    </div>
</div>
{% endblock %}
