{% extends "website/base.html" %}

{% block title %}Password Set Successfully - Empire MUSH{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Password Set Successfully</h3>
                </div>
                <div class="card-body">
                    <p class="text-success">Your password has been set successfully!</p>
                    <p>You can now log into Empire MUSH using:</p>
                    <ul>
                        <li><strong>Game Client:</strong> Connect to empiremush.org port 4000</li>
                        <li><strong>Web Client:</strong> <a href="/webclient/">Use our web client</a></li>
                    </ul>
                    <p>Welcome to Empire MUSH! If you have any questions, feel free to reach out to staff.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
